<div class="card bg-light itemcard m-3">
    <h3 class="card-header text-center">Python Course</h3>
    <div class="card-body itemcard-body">
        <div class="bg-light mb-3 border p-1 border-1 itemcard-body-content">
                <h4 class="card-title ms-1">Overall: </h4>
                <p class="ms-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div>
            <img class="img-card" src="http://www.w3.org/2000/svg" alt="" >
            <h6 class="card-subtitle text-center text-muted m-1">Support card subtitle</h6>
        </div>

    </div>
</div>